
.note {
  height: 250px;
  width: 195px;
  position:absolute;
  cursor: move;
  -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  resize:both;
  font-family: monospace;
  resize: both;
}
.card{
  position:absolute;
  overflow:hidden;
  resize:both;
  font-family: monospace;
  resize: both;
}

.note:active {
  cursor: -webkit-grabbing;
  resize:both;
}

div.note p {
  font-size: 5px;
  font-family: monospace;
}

div.note:hover > span {
  opacity: 1;
}

div.note > span {
  position: absolute;
  bottom: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .25s linear;
}

div.note button {
  align-content: right;
  resize: both;
}

div.note > textarea {
  height: 75%;
  background: rgba(255, 255, 255, .5);
  font-family: monospace;
  resize: both;
}

.glyphicon-plus {
  position: fixed;
  top: 10px;
  right: 10px;
}
