.wrapper {
  font-weight: bold;
  background-color: #663399;
  width: 100%;
    height:60px;

}
.navbar{
  background-color:#581845;
  color:white;
  font-style: normal;
  font-family:Helvetica;
}
.mainHeader {
  font-weight:  normal;
  color : white;
  font-style: normal;
  font-family: sans-serif;
  font-size: 100px;
  text-align: left;
  width: 100%;
  height:60px;

}

.navbarBright {
	background-color:#581845;
    color:#581845;
    font-family: sans-serif;
    font-size: 50px;

      height:60px;


}
.navbarHeader {
	line-height: 1;
  margin-left: 20px;
  background-color:#581845;
}
.navbarBrand {
  font-size: 50px;
  color: inherit;
  margin-left: 20px;
}
