
.menuItem {
  line-height: 40px;
  font-size: 20px;
  text-align: left;
  color: #FDEDEC;
  border-bottom-color: #FDEDEC


}
.bullet{
  list-style-type: none;
  padding:0px;
    margin:0px;
    list-style: none;
}

.menuItem:hover {
  background-color:#C70039  ;

}
