.registration {
  width: 80%;
  margin-top: 10%;
}

.form {
  background: #eee;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.label {
  color: #900C3F;
  font-family:monospace;
  font-size: 35px;
  width: 100%;
  text-align: -webkit-center;
}

.buttonCreate {
  margin: 2%;
  text-align: -webkit-center;
}

.radioButton {
  display: inline-flex;
}

.paddingZero {
  padding: 0;
}

.labelLeftAlign {
  padding: 0;
  margin-top: 2%;
  margin-bottom: 2%;
  float: left;
}

.labelInfoUser {
  font-weight: bold;
  font-size: 20px;
  padding: 0;
}

.paragraphImageFooter {
  font-size: 15px;
}
