.filter{
  align-items: center;
  margin-top: 20px;
}

.verticalbarright {
  margin-left: 1%;
  min-height: 5%;
  height: auto;

}

.verticalbarleft {
  margin-right: 1%;
  min-height: 5%;
  height: auto;
}
