.teamContainer {
  width: 80%;
  margin-top: 10%;
}

.form {
  width: 100%;
  background: #EEEEEE;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 2%;
}

.label {
  color: #900C3F;
  font-family: monospace;
  align-items: center;
  font-size: 35px;
}

.paddingZero {
  padding: 0;
}
.filter{
  align-items: center;
  margin-top: 20px;
}

.verticalbarright {
  border-right: thick solid #ff0000;
}

.verticalbarleft {
  border-left: thick solid #ff0000;
}
