.content{
  background-position-x: center;
  background-position-y: center;
  margin:50px;
  width:700px;
}
.form{
  width: 700px;
  background: #eee;
  padding-left: 50px;
}
.label2
{
  color: #900C3F;
  font-family:monospace;
  align-items: center;
  font-size: 35px;
  margin:15px;
}
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
  color: #bbb;
  margin-top: 10px;
}
.title{
  align-items: center;
  margin-top: 5px;
  margin-right: 400px;
}
.filter{
  align-items: center;
  margin-top: 20px;

}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.verticalbarright {
  border-right: thick solid #ff0000;
}

.verticalbarleft {
  border-left: thick solid #ff0000;
}
