.buttonDiv
{
  margin-top: 40px;
}
.container{
 text-align: left;

}
.title{
  color:#900C3F;
  text-align: center;
  background: white;
  width: 100%;
  margin-top: 50px;
  font-size: x-large;
}
.textos{
text-align: left;
  font-size:100%;

}
.content{
  width: 600px;
  background: #eee;
  padding:30px;
  margin-top: 5px;
  margin-left: 30%;
  margin-right: 30%;
  font-size: x-large;
  text-align: left;
  border-color: white;
}
.reportTitle{

  background: #eee;
  padding: 5%;
  color: darkred;
  font-size: 150%;
}
.head{

  height: 120px;
  width:100%;
  background:#900C3F;
  color:white;
  margin-top: 15%;


}
.label{
  color:white;
  font-size:300%;
  font-family: Calibri;
  display: block;
}
.label2
{
  color: #900C3F;
  font-family:monospace;
  align-items: center;
  font-size: 35px;
  margin:15px;
}

.form{
  width: 100%;
  height: 100%;
  background: #eee;
  padding-left: 50px;
}
.labelInfo{
  color: #900C3F;
  font-family:monospace;
  align-items: center;
  font-size: 25px;
  margin-top: 20px;
}
.verticalbarright {
  border-right: thick  #777777;
}
.radiogroup{
  margin-top: 20px;

}
