<!DOCTYPE html>
<html lang="es">
	<head>
	    <title>Iteam</title>
	    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Coming+Soon|Neucha|Baumans|The+Girl+Next+Door|Fenix|Oregano" rel='stylesheet' type='text/css'/>
	    <link rel="stylesheet" href="/bootstrap.min.css" />
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	    <link rel="stylesheet" type="text/css" href="/app.css" />
	    <meta charset="UTF-8" />
	</head>
	<body style="background-color: #333333">
	   	<div id="root"></div>    	
	   	<script src="/vendor.js"></script>
	   	<script src="/app.js"></script>
	</body>
</html>