<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Iteam</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="app.css" />
        <meta charset="UTF-8" />
    </head>
    <body>
       	<div id="root" style="height: 100%"></div>
       	<script src="/vendor.js"></script>
       	<script src="/app.js"></script>
    </body>
</html>