<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Iteam</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css" />
        <link rel="stylesheet" href="styles/font-awesome-4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="styles/font-awesome-4.3.0/css/site.css" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <div id="logInRow">
            <div id="logIn">
                <form action="/login" method="POST" class="form-signin">
	                <input name="username" type="text" placeholder="Usuario" style="margin-right: 0; margin-bottom: 1rem;" />
	                <input name="password" type="password" placeholder="Contrase&ntilde;a" style="margin-right: 0; margin-bottom: 1rem;" />
	                <button type="submit">Iniciar Sesi&oacute;n</button>
	            </form>
            </div>
        </div>
    </body>
</html>