.footer {
  width: 100%;
color: #7f7f7f;
  background: #EEEEEE;

}
.button{
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
  margin-top: 10px;
}
.logo {
  padding: 5px;
  display: block;
  width: 100px;
}
.labels{
  margin-top: 10px;
  font-weight: 100;
  margin-right: 5px;
}
.links{
  vertical-align: text-bottom;
  display: block;
  font-size: smaller;

  margin-top: 20px;
}

.socialMedia{
  text-align: right;
}
