.background{
  background-image:  url("../../static/image/table_dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width:100%;
  height:100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 700px;
}


.label{
  color:white;
  font-size: 50px;
  background-position-x: center;
  margin-top: 200px;
}

.p{
  color:white;
  font-size: x-large;
  background-position-x: center;
}

.title{
  color:#900C3F;
  font-size: x-large;
}

.form{
  width:50%;
}

.content{
  width: 70%;
  margin-left: 10%;
}

.buttons{
  display: inline-block;
}

.buttonSubmit{
  color: white;
  background: #900C3F;
}
