//.appBar{
//  background-color: white;
//}
.logo{
  height: 65px;
  width:150px;
  align-items: center;

}
.menus{
  color: #900C3F;
  //  border-radius: 30px;
  //border-style: dotted;
  //border-color:white;
  margin-left: 20px;
  padding:20px;

  //background-color: #fbdb9d;
  font-size: 20px;

}
.menus:hover
{
  color: #900C3F;
  //  border-radius: 30px;
  //  border-style: dotted;
  //  border-color:#ffffcc;

}
.menus:active{
  color: #900C3F;
}
