.sidebarWrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #428bca;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.sidebarNav{
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}
