.label {
  color: #900C3F;
  font-family: monospace;
  align-items: center;
  font-size: 35px;
}

.label2 {
  color: #900C3F;
  font-family: monospace;
  align-items: center;
  font-size: 35px;

}

.content {
  text-align: center;
  background-position-x: center;
  background-position-y: center;
  margin-top: 20%;

}

.listSH {
  width: 600px;
}
