.mainContainer {
margin-top: 90px;

}
.menu{
  color: #f547a3;
}

body{
//font-family:Indie Flower;
  font-family: 'Coming Soon', cursive;

width: auto;
  overflow-y: auto;
}
.form {
    align-content: center;
      overflow: auto;
}
