.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1px;
}

text {
  font-family: "Arial Black", Gadget, sans-serif;
  fill: black;
  font-weight: bold;
  font-size: 14px
}

.b text{
  fill: black;
}

.grid line{
  stroke: grey;
  stroke-dasharray: 5, 10;
  opacity: 0.7;
}

.grid path{
  stroke-width: 0;
}

.node circle {
  fill: #999;
}

.a circle {
  fill: #555;
}

.a text {
  font-size: 16px;
  text-shadow: 0 2px 0 #999, 0 -2px 0 #999, 2px 0 0 #999, -2px 0 0 #999;
}

.j {
  fill: black;
}

.ballG {
  fill: black;
}

.shadow {
  -webkit-filter: drop-shadow( -1.5px -1.5px 1.5px #000 );
  filter: drop-shadow( -1.5px -1.5px 1.5px #000 );
}
