
.well{
background-color:hsla(0, 100%,100%, 0.6);
border-style: dotted;;
border-color: #900C3F;
border-width: medium;
margin-top: 30px;

align-items: center;
width:auto;
height: auto;
}
.label
{
  color: #900c3f;
  font-family:monospace;
    align-items: center;
    font-size: 60px;


}

.btn {
  border: none;
  color: white;
  padding: 6px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    background: #4d0027;
    border-radius: 4px;
}



