.configMeetingForm {
  width: 80%;
  margin-top: 10%;
}

.form {
  width: 100%;
  background: #EEEEEE;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 2%;
}

.label {
  color: #900C3F;
  font-family: monospace;
  align-items: center;
  font-size: 35px;
}
