.card {
  background: whitesmoke;
  height: 25%;
  width: 50%;
  display:inline-block;

  margin-bottom: 1%;
}

.cardTitle .large {
  font-size: 2rem;
  display: inline-block;
  color: #900c3f;
}

.cardActions {
  display:inline-block;
  margin-left:65% ;
}
