.label
{
  align-content: center;
  margin-left: 350px;
  margin-top: 35px;
  font-size: 20px;
  color:#900C3F;

}
.formContent
{
  align-content: center;
  margin-left: 350px;
  margin-top: 35px;
  font-size: 16px;
}
