.names {
  align-content: center;
  margin-left: 350px;
  margin-top: 50px;

}


.image {
  display:block;
  width: 400px;
  margin-left: 300px;
  height: 100%;


}
.labelNames
{
  margin-right: 10px;
  margin-left: 10px;
}

.input2 {
  align-content: center;
  margin-left: 350px;
  margin-top: 50px;


}

.input3 {
  align-content: center;
  margin-left: 350px;
  margin-top: 20px;


}
.inputMessage {
  align-content: center;
  height: 100px;
  width: 455px;

}
.button
{
  align-content: center;
  margin-left: 350px;
  margin-top: 50px;
}
.buttonSend
{
  align-content: center;
margin-left: 450px;
  height: 30px;
  width: 90px;
  font-size: 16px;
  color: white;
  background-color: #232354;



}
.labelMessage
{
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;



}

.label
{
  align-content: center;
  margin-left: 350px;
  margin-top: 35px;
  font-size: 20px;

}
