.meetingForm {
  width: 80%;
  margin-top: 10%;
}

.form {
  width: 100%;
  background: #EEEEEE;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 2%;
}

.label {
  color: #900C3F;
  font-family: monospace;
  align-items: center;
  font-size: 35px;
}

.btnTeam {
  border: none;
  color: white;
  padding: 4px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  background: #900C3F;
  border-radius: 4px;
}

.btn {
  border: none;
  color: white;
  padding: 6px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background: #900C3F;
  border-radius: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}
.paddingZero {
  padding: 0;
}


