.form{
  width: 800px;
  background: #eee;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
}

.label2
{
  color: #900C3F;
  font-family:monospace;
  align-items: center;
  font-size: 35px;


}
.labelInfo{
  color: #900C3F;
  font-family:monospace;
  align-items: center;
  font-size: 20px;
}
