.span{
  position: relative;
  display: block;
  font-family:monospace;
  font-weight: bold;
}

.title{
  display: grid;
  padding-bottom: 5%;
  color: #900C3F;
  font-family:monospace;
  align-items: center;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.labelWelcome {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 25px;
}

.buttons {
  margin-bottom: 2%;
  margin-top: 2%;
}
